@font-face {
  font-family: Montserrat;
  src: url('./../../fonts/Montserrat-Light.ttf');
}

@font-face { 
  font-family: Montserrat-Hairline;
  src: url('./../../fonts/Montserrat-Hairline.otf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('./../../fonts/Montserrat-Black.ttf');
}
