.header-section {
  position: relative;
  width: 100%;
  height: 163px;
  padding: 0 60px;
  box-sizing: border-box;
  background: #ffffff;

  & > .brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0 12px;

    & > .logo {
      color: inherit;
    }

    & > .text {
      margin: 0 50px 0 64px;
      text-align: center;
      color: #3a4047;

      & > .description {
        font-size: 16px;
        line-height: 19px;
        margin: 0;

        &.-schedule {
          margin-top: 9px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    & > .contacts {
      & > .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.-right {
          justify-content: flex-end;
          margin-top: 20px;
        }

        & > .button {
          color: #3a4047;
          text-decoration: underline;
          font-size: 14px;
          line-height: 16px;
          font-weight: normal;
          
        }

        & > .manage {
          background: transparent;
          padding-left: 20px;
          background: url('../images/user.svg') 0 center / 11px 13px no-repeat;
          border: none;
          cursor: pointer;
        }

        & > .mail {
          margin-left: 30px;
        }

        & > .social {
          width: 20px;
          height: 20px;
          background: url('../images/facebook.svg') center / 11px 20px no-repeat;
        }

        & > .phone {
          color: inherit;
        }
      }
    }

    & > .shop {
      width: 64px;
      height: 52px;
      background: url('../images/shopping-cart.svg') left bottom / 44px no-repeat;
      border: none;
      position: relative;

      & > .count {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: #1ab0ce;
        border-radius: 50%;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    & > .item {
      padding: 20px 0;
      flex-grow: 1;
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3a4047;
      text-decoration: none;
      border-top: 1px solid transparent;

      &:hover {
        cursor: pointer;
        color: #1ab0ce;
        border-top: 1px solid #1ab0ce;
      }
    }

    &__search {
      width: 150px;
      position: relative;
      flex-grow: 1;

      &::before {
        z-index: 0;
        content: '';
        height: 24px;
        width: 24px;
        display: block;
        position: absolute;
        background: url("../images/icon-search.svg");
        top: 3px;
        left: 3px;
        transition: left 0.1s linear;
      }

      &--active {
        border-bottom: 1px solid black;
        &::before {
          left: calc(100% - 27px);
        }
      }
    }

    &__search-input {
      padding: 2px 30px 2px 2px;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 30px;
      border: 0;
      background: transparent;
      color: black;
      font-size: 12px;
      line-height: 18px;
      outline: none;
    }
  }
}