.header-section {
position: relative;
width: 100%;
height: 163px;


    .container {
    width: 100%;
    height: 50px;
    
        .navigation {
        position: absolute;
        top: 130px;
        margin-left: 130px;
        text-transform: uppercase;
        
            .product {
            margin-left: 50px;
            
            }

            .delivery {
            margin-left: 50px;
            }

            .news {
            margin-left: 50px;
            }

            .base {
            margin-left: 50px;
            }

            .about {
            margin-left: 50px;
            margin-right: 50px;
            }
        }

        .search {
        position: absolute;
        top: 120px;
        right: 100px;
 
            .button {
            width: 20px;
            height: 20px;
            
            }
        }
    }

    .logotype {
    color: #3A4047;

        .logo {
        position: absolute;
        top: 25px;
        left: 133px;
        }

        .name {
        position: absolute;
        top: 20px;
        left: 209px;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 56px;
        color: #1AB0CE;
        }

        .typography {
        position: absolute;
        top: 65px;
        left: 212px;
        }
    }

    .content {
    text-align: center;
    width: 391px;
    position: absolute;
    top: 30px;
    left: 421px;
    
        .description {
        font-size: 16px;
        line-height: 19px;

        }

        .schedule {
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        }
    }

    .contacts {
    color: #3a4047;
    
        .cart {
        position: absolute;
        right: 51px;
        top: 36px;
        }

        .user {
            position: absolute;
            left: 860px;
            top: 40px;
        }

        .facebook {
            position: absolute;
            right: 340px;
            top: 80px;
        }

        .telephone {
            position: absolute;
            right: 300px;
            top: 80px;
        }

        .office {
        position: absolute;
        top: 40px;
        left: 880px;
        width: 123px;
        height: 17px;
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        }
        
        .mail {
        position: absolute;
        top: 40px;
        right: 115px;
        width: 178px;
        text-decoration-line: underline;
        height: 17px;
        }
    }
}