.welcome-section {
  width: 100%;
  height: auto;
  color: #000;
  position: relative;
  min-height: 100%;
  background: #f5f6f8 url('./images/background.jpg') center / cover no-repeat;

  & > .container {
    width: $width;
    margin: 0 auto;
    padding: 30vh 0 0;

    & > .title {
      margin: 0;
      opacity: 0.5;
      font-size: 72px;
      line-height: 80px;
      font-family: Montserrat-Hairline;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      transition: color 2s;
    }

    & > .description {
      font-size: 12px;
      margin-left: 6px;
      text-transform: uppercase;
      color: $prime-color;
    }

    @media (max-width: 980px) {
      width: 100%;
      padding: 30vh 5% 0;
      box-sizing: border-box;
    }
  }
}