<div class="assortment-section">
    <h2 class="product">Продукция</h2>
    <div class="container">
        <div class="office">
            <img class="blank" src="./images/blank-page.svg" alt="blank-page">
            <h3 class="title">Офисная продукция</h3>
            <ul class="list">
                <li class="item">Визитки</li>
                <li class="item">Конверты</li>
                <li class="item">Папки</li>
                <li class="item">Книги</li>
                <li class="item">Блокноты</li>
                <li class="item">Фирменные</li>
                <li class="item">бланки</li>
            </ul>
        </div>
        <div class="advertising">
            <img src="./images/newspaper.svg" alt="newspaper" class="newspaper">
            <h3 class="title">Рекламная продукция</h3>
            <ul class="list">
                <li class="item">Листовки</li>
                <li class="item">Плакаты</li>
                <li class="item">Флаера</li>
                <li class="item">Баннеры </li>
                <li class="item">Буклеты</li>
                <li class="item">Магниты </li>
                <li class="item">Календари</li>
                <li class="item">Наклейки</li>
                <li class="item">Блокноты</li>
            </ul> 
        </div>
        <div class="business">
            <img src="./images/book.svg" alt="book" class="book">
            <h3 class="title">Для бизнеса</h3>
            <ul class="list">
                <li class="item">Каталоги</li>
                <li class="item">Журналы</li>
                <li class="item">Дисконтные карты</li>
                <li class="item">Бейджи</li>
                <li class="item">Гарантиныйные наклейки</li>
            </ul>
        </div>
    </div>
</div>