<footer class="footer-section">
  <div class="logo">
    <div class="logo-component">
      <h2 class="name">Printe</h2>
      <p class="typography">Ваша типография</p>
    </div>
    <p class="protected">2018 — Все права защищены</p>
  </div>
  <div class="text">
    <p class="description">
      Качественная оперативная цифровая,<br />
      широкоформатная и сувенирная<br />
      полиграфия!
    </p>
    <br />
    <p class="description">Работаем с 9 до 18, вс и сб выходные</p>
  </div>
  <nav class="navigation">
    <a href="#" class="item">Главная</a>
    <a href="#" class="item">Новости</a>
    <a href="#" class="item">Продукция</a>
    <a href="#" class="item">База знаний</a>
    <a href="#" class="item">Доставка</a>
    <a href="#" class="item">О нас</a>
  </nav>
  <div class="contacts">
    <div class="row">
      <a class="social" href="#"></a>
      <div class="phone phones-box-component js-phones-box-component -footer">
        <a class="number" href="tel:+0443454042">(044) 345-40-42</a>
        <button class="arrow js-arrow"></button>
        <div class="list js-list">
          <a class="number -vodafone" href="tel:+0994455418">(099) 445-54-18</a>
          <a class="number -kyivstar" href="tel:+0964977803">(096) 497-78-03</a>
          <a class="number -life" href="tel:+0634351681">(044) 345-40-42</a>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      Контакты
    </div>
    <div class="row">
      some text
    </div> -->
  </div>
</footer>