<header class="header-section">

  <div class="brand">
    <div class="logo">
      <h2 class="name">Printe</h2>
      <p class="typography">Ваша типография</p>
    </div>
    <div class="text">
      <p class="description">
        Качественная оперативная цифровая,<br>
        широкоформатная и сувенирная полиграфия!</p>
      <p class="description -schedule">Работаем с 9 до 18, вс и сб выходные</p>
    </div>
    <div class="contacts">
      <div class="row">
        <button class="manage button js-manage">Личный кабинет</button>
        <a href="mailto:maket@test-vertka.ua" class="mail button">maket@test-vertka.ua</a>
      </div>
      <div class="row -right">
        <a class="social" href="#"></a>
        <div class="phone">
          <a class="number" href="tel:+0443454042">(044) 345-40-42</a>
          <button class="arrow"></button>
          <div class="list">
            <a class="number -vodafone" href="tel:+0994455418">(099) 445-54-18</a>
            <a class="number -kyivstar" href="tel:+0964977803">(096) 497-78-03</a>
            <a class="number -life" href="tel:+0634351681">(063) 435-16-81</a>
          </div>
        </div>
      </div>
    </div>
    <button class="shop js-baket">
      <div class="count js-count">3</div>
    </button>
  </div>

  <nav class="navigation">
    <a href="#" class="item">Главная</a>
    <a href="#" class="item">Продукция</a>
    <a href="#" class="item">Доставка и оплата</a>
    <a href="#" class="item">Новости</a>
    <a href="#" class="item">База знаний</a>
    <a href="#" class="item">О нас</a>
    <a href="#" class="item">Контакты</a>
    <button class="item search"> search icon </button>
  </nav>
</header>