<div class="news-section">
    <h2 class="title">Новости</h2>
    <div class="text">
        <div class="content">
            <p class="date">14 марта 2018</p>
            <p class="description">Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с <br> палками</p>
        </div>
        <div class="content">
            <p class="date">14 марта 2018</p>
            <p class="description">Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с <br> палками</p>
        </div>
        <div class="content">   
            <p class="date">14 марта 2018</p>
            <p class="description">Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с <br> палками</p>
        </div>
    </div>
    <button class="button">Смотреть все новости</button>
</div>